.home {
    color: white;

    .hero-img {
        width: 100%;
        margin-top: -65px;
        z-index: -1;
        max-height: 640px;
        object-fit: cover;
    }
    .hero {
        width: 100%;
        .hero-text {
            position: absolute;
            top: 150px;
            max-width: 400px;
        }
        button {
            margin-top: 10px;
            font-size: 25px;
            font-weight: bold;
            width: 240px;
            height: 40px;
        }
    }

    .home-down{

        color: #D2D8D5;

        .home-down-header{
            margin-top: 30px;
            font-size: 25px;
            color: #030420;
        }

        .category-container {
            margin-top: 30px;
            grid-template-columns: auto auto auto;
            column-gap: 80px;
            row-gap: 60px;
        }
    }



    // .home-story {
    //     padding: 10px  0 10px 0;
    //     color: black;
    //     width: 100%;
    //     .img-gallery {
    //         width: 40%;
    //         gap: 10px;
    //         img {
    //             width: 100%;
    //             flex-wrap: wrap;
    //             object-fit: cover;
    //         }
    //     }
    //     .story {
    //         width: 40%;

    //         .sticky-story {
    //             position: sticky;
    //             top: 50px;
    //         }
    //     }
    // }
}
