.footer {
    height: 85px;
    background-color: #B6C1C6;
    margin-top: 20px;
    .main-content {
        width: 100%;
    }
    .logo {
        font-size: 25px;
        img {
            width: 40px;
        }
    }
}
